@blue:#007bff;
@red:#dc3545;
@purple:#8c3acf;
@reddark:#a8323d;
@purpledark:#5c2887;

@dark:#303030;
@grey:#565656;

@circlew:40px * 5 + 10px * 6;
@chordsw:200px;

@font-face {
	font-family:'REGULAR';
	src:url("Poppins-Regular.ttf");
}

@font-face {
	font-family:'BOLD';
	src:url("Poppins-Bold.ttf");
}

@font-face {
	font-family:'LOGO';
	src:url("SocialType.ttf");
}

* { box-sizing:border-box; font-family:'REGULAR'; }

span.bold { font-family:'BOLD'; }

.container-row {
	display:flex;
	align-items:start;
}
#WAVEFORM {
	height:200px;
	width:200px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	overflow:hidden;
	.shadow-b();
	margin-left:20px;
	border-radius:15px;
	.bubble {
		width:2px;
		height:4px;
		background:black;
	}
}

.diese {
	position:relative;
	bottom:4px;
	font-size:13px;
	padding-bottom:10px;
}

#PIANO {
	display:flex;
	padding:20px;
	border-radius:15px;
	margin-left:20px;
	.shadow-b();
}

.piano {
	margin-right:5px;
	transform:translateY(0);
	width:350px;
	height:200px;
	.black {
		width:100%;
		display:flex;
		height:120px;
		font-size:13px;
		.diese { font-size:10px; }
		.container {
			&:nth-child(1) { width:300px; }
			&:nth-child(2) { width:400px; }
			display:flex;
			justify-content:space-evenly;
			.key {
				cursor:pointer;
				background:black;
				width:30px;
				box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.4);
				border-radius:0 0 3px 3px;
				z-index:3;
				display:flex;
				align-items:flex-end;
				justify-content:center;
				color:white;
				&.selected { background-color:@red; }
				&.chord { background-color:@purple; }
				&:active{
					background-color:grey;
					&.selected { background-color:@reddark; }
					&.chord { background-color:@purpledark; }
				}
			}
		}
	}
	.white {
		transform:translateY(-120px);
		width:100%;
		display:flex;
		justify-content:space-between;
		height:100%;
		.key{
			cursor:pointer;
			border-radius:0 0 3px 3px;
			overflow-y:hidden;
			z-index:2;
			box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.4);
			width:46px;
			background-color:white;
			display:flex;
			align-items:end;
			justify-content:center;
			&.selected {
				color:white;
				background-color:@red;
			}
			&.chord {
				color:white;
				background-color:@purple; 
			}
			&:active{
				background-color:lightgrey;
				&.selected { background-color:@reddark; }
				&.chord { background-color:@purpledark; }
			}
		}
	}
}

#CIRCLE {
	margin-top:20px;
	box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.4);
	@size:40px;
	@space:10px;
	@totalw:@size * 5 + @space * 6;
	@totalh:@size * 5 + @space * 6;
	width:@size * 5 + @space * 6;
	height:@size * 5 + @space * 6;
	border-radius:20px;

	#SELECT {
		box-shadow:0 1px 4px 1px rgba(0, 0, 0, 0.2);
		cursor:pointer;
		border-radius:50px;
		border:2px solid @blue;
		@width:140px;
		transform: translate(@totalw / 2 - @width / 2, @totalh / 2 - 25px);
		height:50px;
		width:@width;
		display:flex;
		background-color:white;
		align-items:center;
		.ton{
			display:flex;
			justify-content:center;
			z-index:3;
			width:@width / 2;
			transition:0.1s color;
			will-change:color;
		}
		.back {
			border-radius:3px;
			position:absolute;
			background-color:@blue;
			height:50px;
			width:@width / 2 + 2px;
			z-index:2;
			transition:0.1s transform;
			will-change:transform;
			border-radius:50px;
		}
		&.right {
			.ton:nth-child(2) { color:white; }
			.back {
				transform:translateX(@width / 2 - 2px);
			}
		}
		&.left {
			.ton:nth-child(1) { color:white; }
			.back {
				transform:translateX(0);
			}
		}
	}

	.note() {
		width:@size;
		height:@size;
		display:flex;
		justify-content:center;
		align-items:center;
		position:absolute;
		color:black;
		border-radius:@size;
		cursor:pointer;
		&:hover { background-color: lightgrey; }
		&.selected { 
			background-color:@blue;
			color:white;
			box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.2);
			&:hover { 
				background-color: @blue;
				box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.4);
			}
		}
	}
	.note-1  {  .note(); transform:translate(@size * 1 + @space * 2, @size * 0 + @space * 1); }
	.note-2  {  .note(); transform:translate(@size * 2 + @space * 3, @size * 0 + @space * 1); }
	.note-3  {  .note(); transform:translate(@size * 3 + @space * 4, @size * 0 + @space * 1); }
	.note-4  {  .note(); transform:translate(@size * 4 + @space * 5, @size * 1 + @space * 2); }
	.note-5  {  .note(); transform:translate(@size * 4 + @space * 5, @size * 2 + @space * 3); }
	.note-6  {  .note(); transform:translate(@size * 4 + @space * 5, @size * 3 + @space * 4); }
	.note-7  {  .note(); transform:translate(@size * 3 + @space * 4, @size * 4 + @space * 5); }
	.note-8  {  .note(); transform:translate(@size * 2 + @space * 3, @size * 4 + @space * 5); }
	.note-9  {  .note(); transform:translate(@size * 1 + @space * 2, @size * 4 + @space * 5); }
	.note-10  { .note(); transform:translate(@size * 0 + @space * 1, @size * 3 + @space * 4); }
	.note-11  { .note(); transform:translate(@size * 0 + @space * 1, @size * 2 + @space * 3); }
	.note-12  { .note(); transform:translate(@size * 0 + @space * 1, @size * 1 + @space * 2); }
}

#CHORDS {
	margin-top:20px;
	margin-left:20px;
	box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.4);
	border-radius:20px;
	padding:15px;
	width:@chordsw;
	.head {
		padding:0 0 10px 0;
		justify-content:center;
		margin-bottom:10px;
	}
	.chord {
		padding-left:15px;
		padding-right:7px;
		cursor:pointer;
		width:100%;
		height:40px;
		display:flex;
		align-items:center;
		border-radius:40px;
		justify-content:space-between;
		&:hover { 
			background-color:@purple; color:white;
			box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.4);
			.play {
				color:white;
			}
		}
		.play {
			font-family:"LOGO";
			color:white;
			font-size:36px;
			color:@purple;
		}
	}
}

.switch {
	width:100%;
	.head {
		border-bottom:1px solid grey;
		display:flex;
		padding-left:30px;
		padding-top:20px;
		.link{
			border-top:1px solid grey;
			border-left:1px solid grey;
			border-right:1px solid grey;
			padding:10px;
			border-radius:5px 5px 0 0;
			cursor:pointer;
			margin-right:15px;
			&.selected {
				background-color:@blue;
				color:white;
				border:none;
				transform:translateY(1px);
				box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.2);
			}
		}
	}
	.body {
		overflow:hidden;
		.part {
			animation:0.2s show;
			display:none;
			padding:30px;
			&.selected {
				display:block;
			}
		}
	}
}

#SELECTTHEME {
	display:flex;
	align-items:center;
	height:30px;
	margin:20px;
	p { margin-right:20px; }
	.radio {
		cursor:pointer;
		width:40px;
		height:20px;
		margin-right:20px;
		background-color:@blue;
		border-radius:20px;
		display:flex;
		align-items:center;
		&::before {
			transition:0.1s transform;
			will-change:transform;
			display:block;
			width:14px;
			height:14px;
			content:"";
			border-radius:30px;
			background:white;
		}
		&.left {
			&::before {
				transform:translateX(3px);
			}
		}
		&.right {
			&::before {
				transform:translateX(22px);
			}
		}
	}
}

#CHORD {
	width:calc(100% - @circlew - @chordsw - 40px);
	padding:20px;
	margin-left:20px;
	margin-top:20px;
	box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.4);
	border-radius:20px;
	.piano-container {
		padding:5px;
		padding-bottom:20px;
		max-width:100%;
		overflow-x:auto;
		overflow-y:hidden;
	}
	.button {
		color:@purple;
		background-color:white;
		border:2px solid @purple;
		
		&:hover { background-color:@purple; color:white; }
		margin-top:20px;
		p { margin:0; align-items:center; display:flex;}
		span { margin-right:3px;}
	}
	.select {
		margin-top:10px;
		display:flex;
		align-items:center;
		p { display:block; }
		.choice { 
			height:40px; 
			width:40px;
			display:flex;
			cursor:pointer;
			align-items:center;
			justify-content:center;
			border-radius:30px;
			margin-left:15px;
			&.selected {
				background-color:@purple;
				color:white;
				box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.2);
			}
		}
	}
}

.button {
	display:inline-block;
	cursor:pointer;
	border-radius:5px;
	padding:0 9px;
	box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.shadow-l() {
	box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.shadow-b() {
	box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.4);
}

.logo-font {
	font-family:"LOGO";
	font-size:30px;
}

span.more {
	font-size:13px;
}

@keyframes show {
	from {
		opacity:0;
	} to {
		opacity:1;
	}
}


#INSTRUMENT {
	height:100%;
	margin-left:20px;
	border-radius:10px;
	padding:20px;
	.shadow-b();
	.select {
		display:flex;
		align-items:center;
		height:30px;
	}
	.radio {
		cursor:pointer;
		width:40px;
		height:20px;
		margin:0 10px;
		background-color:@blue;
		border-radius:20px;
		display:flex;
		align-items:center;
		&::before {
			transition:0.1s transform;
			will-change:transform;
			display:block;
			width:14px;
			height:14px;
			content:"";
			border-radius:30px;
			background:white;
		}
		&.left {
			&::before {
				transform:translateX(3px);
			}
		}
		&.right {
			&::before {
				transform:translateX(22px);
			}
		}
	}
	.volume {
		width:200px;
		height:20px;
		background-color:grey;
		.level {
			height:30px;
			width:30px;
			background-color:blue;
		}
	}
}

input {
	height:30px;
	width:60px;
	text-align:center;
	font-size:15px;
	border-radius:30px;
	border:none;
	.shadow-l();
	&.error { background-color:@red; color:white; }
}

body.dark {
	color:white;
	background:@dark;
	#PIANO { background:@grey; }
	#CIRCLE {
		background-color:@grey;
		color:white;
		.note-dark() { color:white; }
		.note-1 { color:white; }
		.note-2 { color:white; }
		.note-3 { color:white; }
		.note-4 { color:white; }
		.note-5 { color:white; }
		.note-6 { color:white; }
		.note-7 { color:white; }
		.note-8 { color:white; }
		.note-9 { color:white; }
		.note-10 { color:white; }
		.note-11 { color:white; }
		.note-12 { color:white; }
		#SELECT {
			&.left { .ton:nth-child(2) { color:black; } }
			&.right { .ton:nth-child(1) { color:black; } }
		}
	}
	#CHORDS, #INSTRUMENT, #CHORD {
		background-color:@grey;
	}
	.piano {
		.white {
			.key { 
				background:black;
				color:white;
				&:active { background:@dark; }
				&.selected { 
					background:@red; 
					&:active { background:@reddark; }
				}
				&.chord { background:@purple; }
			}
		}
		.black {
			.key {
				background-color:white;
				color:black;
				&.selected { background:@red; color:white; }
				&.chord { background:@purple; color:white; }
			}
		}
	}
	#WAVEFORM { background:@grey; .bubble { background:lightgreen; }}
}