@blue:#007bff;
@bluedark:#0762c4;

@red:#dc3545;
@reddark:#a8323d;

@purple:#8c3acf;
@purpledark:#5c2887;

@yellow:#f7e011;
@yellowdark:#e8d210;

@green:#49ce18;
@greendark:#3fb215;

@pink:#f4aaf7;
@pinkdark:#dd9ae0;

@orange:#eda831;
@orangedark:#d19630;

@dark:#303030;
@grey:#565656;

@circlew:40px * 5 + 10px * 6;
@chordsw:200px;

p { margin:0; }

@font-face {
	font-family:'REGULAR';
	src:url("Poppins-Regular.ttf");
}

@font-face {
	font-family:'BOLD';
	src:url("Poppins-Bold.ttf");
}

@font-face {
	font-family:'LOGO';
	src:url("SocialType.ttf");
}

body { margin:0; padding:0;}

* { font-family:'REGULAR'; }

span, p, h1 {
	&.bold {
		font-family:'BOLD';
	}
}

.head-style {
	border-bottom:1px solid @grey;
	font-family:'BOLD';
	margin-bottom:5px;
	padding-bottom:5px;
}

.shadow-l() {
	box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.shadow-b() {
	box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.4);
}

.container-row-center {
	display:flex;
	justify-content:center;
}
.container-column-center {
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.piano-behavior(@width, @height, @fsb, @fsw) {
	display:flex;
	.octave {
		display:flex;
		margin-right:2px;
		flex-direction:column;
		.black {
			width:@width;
			height:calc((@height * 3) / 5);
			display:flex;
			position:absolute;
			& > div {
				display:flex;
				&:nth-child(1) { 
					width:calc((100% / 7) * 3);
					.key {
						width:calc(100% / 5);
					}
				}
				&:nth-child(2) { 
					width:calc((100% / 7) * 4);
					.key {
						width:calc(100% / 7);
					}
				}
				justify-content:space-evenly;
				.key {
					background-color:black;
					color:white;
					font-size:@fsb;
					&:active { background-color:@grey; }
				}
			}
		}
		.white {
			width:@width;
			height:@height;
			display:flex;
			justify-content:space-between;
			.key {
				width:calc((100% / 7) - 2px);
				background-color:white;
				color:black;
				font-size:@fsw;
				&:active { background-color:lightgrey; }
			}
		}

		.key {
			border-radius:0 0 3px 3px;
			.shadow-b();
			display:flex;
			align-items:end;
			justify-content:center;
			cursor:pointer;
			&.selected {
				&[selection='chord'] {
					background-color:@purple;
					&:active { background-color:@purpledark; }
					color:white;
				}
				&[selection='scale'] {
					background-color:@red;
					&:active { background-color:@reddark; }
					color:white;
				}
				&[selection='find'] {
					background-color:@blue;
					&:active { background-color:@bluedark; }
					color:white;
				}
			}
		}
	}
}

.book {
	width:100%;
	& > .book-head {
		display:flex;
		border-bottom:1px solid grey;
		padding:10px 5px 0 5px;
		& > .book-part {
			transform:translateY(1px);
			margin-left:15px;
			border-radius:3px 3px 0 0;
			border:1px solid grey;
			cursor:pointer;
			padding:4px 8px;
			&.selected {
				color:white;
				background-color:@blue;
				border:1px solid @blue;
			}
		}
	}
	& >.book-body {
		width:100%;
		overflow:hidden;
		& >.book-part {
			display:none;
			flex-direction:column;
			align-items:start;
			animation:showPart 0.3s;
			&.selected {
				display:flex;
			}
		}
	}
}

.switch() {
	display:flex;
	align-items:center;
	.part {
		cursor:pointer;
	}
	.switch {
		@h:20px;
		@w:40px;
		width:@w;
		height:@h;
		border-radius:20px;
		background-color:@blue;
		display:flex;
		align-items:center;
		cursor:pointer;
		margin:0 10px;
		&::before {
			content:"";
			transition:0.2s transform;
			display:block;
			background-color:white;
			border-radius:@h;
			width:@h - 6px;
			height:@h - 6px;
		}
		&.left::before { transform:translateX(3px); }
		&.right::before { transform:translateX(@w - @h + 3px); }
	}
}

.button {
	display:flex;
	border-radius:3px;
	cursor:pointer;
	align-items:center;
	padding:6px 8px;
	border:3px solid @blue;
	background-color:white;
	color:@blue;
	&:hover {
		color:white;
		background-color:@blue;
	}
	&:active { background-color:@bluedark; border-color:@bluedark; }
}

.arrow() {
	display:flex;
	align-items:center;
	justify-content:center;
	width:30px;
	height:30px;
	border-radius:40px;
	border:3px solid @blue;
	background-color:white;
	cursor:pointer;
	&::before {
		content:"";
		display:block;
		width:12px;
		height:12px;
		border-bottom:3px solid @blue;
		border-left:3px solid @blue;
	}
	&:hover {
		background-color:@blue;
		&::before {
			border-color:white;
		}
	}
	&:active { 
		background-color:@bluedark;
		border-color:@bluedark;
	}
}
.arrow-left {
	.arrow();
	&::before {
		transform:rotate(45deg);
	}
}
.arrow-right {
	.arrow();
	&::before {
		transform:rotate(-135deg);
	}
}

#SwitchStarting {
	display:flex;
	align-items:center;
	.item {
		width:30px;
		height:30px;
		display:none;
		justify-content:center;
		align-items:center;
		&.selected{ display:flex; }
	}
}

#SwitchTonality {
	.switch();
}

#Book {
	.book();
}

#ScaleViewerContainer {
	.container-column-center();
	& > * {
		margin-top:30px;
	}
}

#ChordViewerContainer {
	.container-column-center();
	.row {
		padding-top:20px;
		align-items:center;
		display:flex;
		& > *:nth-child(n + 2) {
			margin-left:20px;
		}
		#ChordList {
			.head { 
				font-family:'BOLD'; 
				border-bottom:1px solid @grey;
				margin-bottom:5px;
				padding-bottom:5px;
			}
			.item {
				cursor:pointer;
				padding:4px 11px;
				border-radius:20px;
				&:hover { background-color:@purple; color:white; }
				&:active { background-color:@purpledark; }
			}
		}
	}
	.column {
		& > * {
			margin-top:20px;
		}
		display:flex;
		flex-direction:column;
		align-items:center;
		#SwitchStarting .item { margin:0 20px; }
	}
}

#ScaleFinderContainer {
	.container-column-center();
	& > * {
		margin-top:30px;
	}
	#ScalesAvailable {
		width:220px;
		.head {
			.head-style();
			text-align:center;
		}
		.body {
			display:flex;
			.minor, .major { 
				display:flex;
				flex-direction:column;
				align-items:center;
				width:50%; 
				.item {
					cursor:pointer;
					width:calc(100% - 30px);
					padding:4px 11px;
					border-radius:20px;
					&:hover { background-color:@purple; color:white; }
					&:active { background-color:@purpledark; }
				}
			}
			.major {
				border-right:1px solid @grey;
			}
		}
	}
}

#ToolsContainer {
	.circle {
		@size:40px;
		@space:10px;
		@totalw:@size * 5 + @space * 6;
		@totalh:@size * 5 + @space * 6;
		width:@size * 5 + @space * 6;
		height:@size * 5 + @space * 6;
		.note() {
			width:@size;
			height:@size;
			display:flex;
			justify-content:center;
			align-items:center;
			position:absolute;
			color:black;
		}
		.note-1  {  .note(); transform:translate(@size * 1 + @space * 2, @size * 0 + @space * 1); }
		.note-2  {  .note(); transform:translate(@size * 2 + @space * 3, @size * 0 + @space * 1); }
		.note-3  {  .note(); transform:translate(@size * 3 + @space * 4, @size * 0 + @space * 1); }
		.note-4  {  .note(); transform:translate(@size * 4 + @space * 5, @size * 1 + @space * 2); }
		.note-5  {  .note(); transform:translate(@size * 4 + @space * 5, @size * 2 + @space * 3); }
		.note-6  {  .note(); transform:translate(@size * 4 + @space * 5, @size * 3 + @space * 4); }
		.note-7  {  .note(); transform:translate(@size * 3 + @space * 4, @size * 4 + @space * 5); }
		.note-8  {  .note(); transform:translate(@size * 2 + @space * 3, @size * 4 + @space * 5); }
		.note-9  {  .note(); transform:translate(@size * 1 + @space * 2, @size * 4 + @space * 5); }
		.note-10  { .note(); transform:translate(@size * 0 + @space * 1, @size * 3 + @space * 4); }
		.note-11  { .note(); transform:translate(@size * 0 + @space * 1, @size * 2 + @space * 3); }
		.note-12  { .note(); transform:translate(@size * 0 + @space * 1, @size * 1 + @space * 2); }
	}
	.table {
		margin-top:20px;
		display:flex;
		.head { .head-style(); }
		.left { width:150px; border-right:1px solid @grey;}
		.right { 
			width:150px;
		}
		.right, .left { & > * { padding-left:15px; } }
	}
}

#PianoScaleViewer, #PianoChordViewer, #PianoScaleFinder, #PianoChordFinder {
	.piano-behavior(300px, 160px, 10px, 15px);
}

.piano {
	.piano-behavior(300px, 160px, 10px, 15px);
}

#ChordFinderContainer {
	.container-column-center();
	& > * {margin-top:20px;}
	#ChordsFound {
		display:flex;
		.col {
			.head { .head-style(); text-align: center; }
			width:200px;
			.body {
				.item {
					text-align:center;
				}
			}
			&:nth-child(n + 2) { border-left:1px solid @grey; }
		}
	}
}

@keyframes showPart {
	from {
		opacity:0;
		transform:translateX(200px);
	} to {
		opacity:1;
		transform:translateX(0);
	}
}