@import '../../Racss/style.less';

* {
	font-family:Courier New;
	font-weight:700;
}
body{
	padding:0;
	margin: 0;
}

@filters_h:300px;

#filters {
	height:@filters_h;
}

.touch-behavior {
	@width:80px;
	@height:30px;

	height:@height;
	width: @width;

	border-radius:3px;
	color:white;
	margin-right:10px;
	cursor:pointer;
	z-index:3;
	& > p { 
		z-index:5;
		width:100%;
		height:100%;
		display:flex;
		align-items:center;
		justify-content:center;
	}
	&::before {
		z-index:-1;
		position:absolute;
		height:@height;
		width:@width;
		content:"";
		display:block;
		border-radius:3px;
		transform:scale(0, 0);
		transform-origin:50% 50%;
		transition:transform 0.1s;
	}
	&:hover {
		&::before {
			transform:scale(1, 1);
		}
	}
}

.touch {
	.touch-behavior();
	&::before { background-color:#5A81B6; }
}
#keys {
	background-color:#2F2F2F;
}
#chords {
	background-color:#434343;
}

#starting {

}

.drag {
	user-select: none;
	.touch-behavior();
}

#parameters {
	background-color:#111111;
}
#rack {
	position:fixed;
	bottom:0;
	width:100vw;
	max-height:calc(100vh - @filters_h);
	overflow-y:scroll;
	display:flex;
	#rack-keys {
		width:60px;
		.black { color:white; background-color:black; }
		.white { color:black; background-color:lightgrey; }
		.black.selected, .white.selected {
			background-color: @blue;
			color:white;
			box-shadow:0 1px 3px 1px rgba(0, 0, 0, .4);
		}
		font-size:10px;
		& > * {
			padding:2px 5px;
		}
	}
	#rack-racks {
		width:calc(100vw - 60px);
		.black { color:white; background-color:lighten(@black, 20%); }
		.white { color:black; background-color:lighten(@black, 30%); }
		.black, .white {
			height:24px;
			& > .note {
				background-color:@blue;
				height:100%;
				width:100px;
				padding:2px 5px;
				color:white;
			}
		}
	}
}